<p id="notice"><%= notice %></p>
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Bienvenue sur le Boncoin de l'Iien</h1>
            <p> etre Iien c'est bien, partager ses biens c'est mieux</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>-->
        </header>
<hr>