<p id="notice"><%= notice %></p>
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <center>
            <h1>Bienvenue sur le Boncoin de l'iien</h1>
            <p> être iien <strong>c'est bien</strong>, partager <strong>ses biens</strong> c'est mieux</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>-->
            </center>
        </header>
    </div>
