<div class="container">
    <header class="jumbotron hero-spacer">
    <center>
    <% if current_user.id == @annonce.user_id %>
    <h2>Editer Annonce</h2>



<%= render 'form' %>

<%= link_to 'Voir', @annonce %> |
<%= link_to 'Retour', annonces_path %>


<%else%>
<p> Vous ne pouvez pas modifier cette annonce car ce n'est pas la votre </p>
<% end %>

</center>
</header>
</div>

