<div class="container">
    <header class="jumbotron hero-spacer">
    <center>
    <% if current_user.id == @annonce.user_id %>
    <h2>Editer Annonce</h2>



<%= render 'form' %>
<h3>Supprimer mon annonce</h3>

<p><%= button_to "Supprimer", annonce_path(@annonce), data: { confirm: "Etes-vous sûrs ?" }, method: :delete %></p>

<br>
<br>
<%= link_to 'Retour', @annonce %>


<%else%>
<p> Vous ne pouvez pas modifier cette annonce car ce n'est pas la votre </p>
<% end %>

</center>
</header>
</div>

