<div class="container">
    <header class="jumbotron hero-spacer">
    <center>
    	<h1>Nouvelle Annonce</h1>

		<%= render 'form' %>

		<%= link_to 'Retour', annonces_path %>
	</center>
	</header>
</div>