<div class="container">
    <header class="jumbotron hero-spacer">
    <center>
    	<% if user_signed_in? %>
    	<h2>Nouvelle Annonce</h2>

		<%= render 'form' %>

		<%= link_to 'Retour', annonces_path %>

		<%else %>
		<p> Vous ne pouvez créez d'annonce sans etre connecté </p>
		<%end%>
	</center>
	</header>
</div>