#galerie-minimaliste:after {content:'cliquez sur la photo pour voir la suivante';display:block;width:100%;text-align:center;color:#555;line-height:12px;}
#galerie-minimaliste {
    background:white;
    border:solid;
    width:800px;
    height:500px;
    margin:2em auto;
    padding:0.5em;
    box-shadow:0 0 5px black,inset 0 -250px  150px -150px  gray;
    position:relative;
    }
#galerie-minimaliste div {
    border:solid;
    position:absolute;
    top:0px;
    width:800px;
    height:500px;
    left:0px;
    background:white;
    overflow:hidden;
    box-shadow:0 0 1px black;
}
#galerie-minimaliste img {vertical-align:top;border-radius:15em;overflow:hidden;}
#galerie-minimaliste div p {position:absolute;top:0px;left:400px;padding:0;line-height:auto;margin:0;cursor:pointer;outline:0;
-moz-transition:ease 1s;-webkit-transition:ease 1s;-moz-transition:ease  1s;opacity:0;}
 
#galerie-minimaliste p:focus + p, #galerie-minimaliste div p:first-child {left:0;top:0;-moz-transition:ease 1s;-webkit-transition:ease 1s;-moz-transition:ease 1s;opacity:1;}
#galerie-minimaliste p:nth-child(odd) {left:-600px;}
#galerie-minimaliste p:nth-child(even) {left:600px;}
#galerie-minimaliste p:first-child {left:0;top:0;}